.dropdown {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    padding: 5px 0;

    .dropdown__info{
        position: absolute;
        top: 100%;
        width: 100%;
        min-width: 200px;
        background-color: white;
        z-index: 10;
        
    }

    .itemList{
        list-style: none;
        border-radius: 5px;
        border: 1px solid black;
        margin: 0;

        li {
            list-style: none;
            text-align: center;
        }
    }

    .dropdown__selectedItems{
        padding: 10px 0;
        display: flex;

        p{
            padding: 0 10px;
            margin: 0 5px;
            border-radius: 5px;
            background-color: rgb(157, 223, 139);
            cursor: pointer;

            &.dropdown__title{
                background-color: white;
            }

            &.itemHover{
                background-color: grey;
            }
        }

        .dropdown__title{
        }
    }
}